<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update ${user.name}'s info</title>
</head>
<body>
    <form action="/api/user/update">
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <p class="form-control-static">email@example.com</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <p class="form-control-static">email@example.com</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <p class="form-control-static">email@example.com</p>
            </div>
        </div>
    </form>


    <script type="text/javascript" th:inline="javascript">
        function updateUser(newName, newAge, newAddr){
            $.ajax({
                type:"POST",
                url:"/api/user/update",
                data:JSON.stringify({name:newName, age:newAge, addr: newAddr}),
                contentType:"application/json",
                dataType:"json",
                success:function (data) {
                    console.log("add Successful"+JSON.stringify(data))
                    location.href = "index";
                },
                error:function (data) {
                    console.log("add Failure"+JSON.stringify(data));
                }
            });
        }
    </script>
</body>
</html>
